<!DOCTYPE html>
<html>
    <head>
        <title>luqman</title>

        <meta name="author" content="luqman">
        <meta name="description" content="My portfolio site.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">

        <link rel="stylesheet" href="../../../style.css">

        <script src="script.js"></script>
    </head>
    <body>
        <div class="topnav">
            <a href="https://luq-mn.github.io">luqman</a>
            <a href="../../../index.html">home</a>
            <a href="https://github.com/luq-mn" target="_blank">github</a>
            <a href="https://www.instagram.com/luqmanually/" target="_blank">instagram</a>
            <a href="https://x.com/luqmanually" target="_blank">x/twitter</a>
        </div>

        <h1>Title</h1>
        <p>
            18th July 2024, GMT+8 Kuala Lumpur
        </p>

        <hr>

        <h2>Heading</h2>
        <p>
            Well hello there this is something
        </p>

        <img src="">
    </body>
</html>